ul{
    color: brown;
    border-width: 2px;
    border-style: dashed;
    border-color: red;
    width: 400px;
}
select{
    position: relative;
    left: 50px;
    cursor: alias;
}
h2{
    color: darkblue;
    font: 2em sans-serif;
    z-index: 1;
}