ul{
    color: brown;
    border-width: 2px;
    border-style: double;
    border-color: red;
    width: 400px;
    cursor: context-menu;
    cursor: crosshair;
}
select{
    position: relative;
    left: 50px;
}
h2{
    color: darkblue;
    font: 2em sans-serif;
    z-index: 1;
}